body {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

#main-skip-link {
  top: -70px;
  left: 20px;
  z-index: 10;
}
#main-skip-link:focus, #main-skip-link:active {
  top: 15px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}
header > div {
  margin: 0 10px;
  flex-grow: 1;
  flex-basis: 50%;
}
header span {
  display: block;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header .logo a {
  display: block;
}
header .logo img {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}
header .text {
  text-align: center;
}
header .text a {
  display: inline-block;
}
header .text a:hover, header .text a:focus {
  text-decoration: underline;
}
@media (min-width: 480px) {
  header {
    flex-wrap: nowrap;
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  header {
    padding: 10px;
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 10px 20px;
  }
}
@media (min-width: 1320px) {
  header {
    padding: 10px calc(50vw - 600px);
  }
}

#wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(2, min-content);
}
#wrapper nav {
  grid-row: 1;
  grid-column: 1;
}
#wrapper main {
  grid-row: 2;
  grid-column: 1;
}
@media (min-width: 480px) {
  #wrapper {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  #wrapper {
    padding: 20px 50px;
  }
}
@media (min-width: 1024px) {
  #wrapper {
    grid-template-columns: 2fr 7fr;
    grid-column-gap: 40px;
    padding: 20px 80px;
  }
  #wrapper main {
    grid-row: 1/3;
    grid-column: 2;
  }
}
@media (min-width: 1320px) {
  #wrapper {
    padding: 20px calc(50vw - 600px);
  }
}

#main-nav {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}
#main-nav .toggle-wrapper {
  padding: 5px 0;
}
#main-nav #main-nav-list {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
@media (max-width: 1023px) {
  #main-nav #main-nav-list {
    border-top: 1px solid;
    padding-top: 0;
  }
  #main-nav #main-nav-list.collapsed {
    display: none;
  }
}
#main-nav .nav-item {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 16px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: inherit;
  background-color: transparent;
  font-size: 14px;
  text-align: left;
  line-height: 2.2;
  text-underline-offset: 1px;
  text-decoration: none;
}
#main-nav .nav-item:disabled .fas, #main-nav .nav-item.disabled .fas {
  display: none;
}
#main-nav .nav-item:disabled:hover, #main-nav .nav-item:disabled:focus, #main-nav .nav-item.disabled:hover, #main-nav .nav-item.disabled:focus {
  color: inhert;
  background-color: transparent;
}
#main-nav .dd-btn {
  padding-left: 3px;
  display: flex;
  align-items: center;
}
#main-nav .dd-btn .icon {
  transition: transform 0.2s ease;
  transform-origin: 5px 5px;
  fill: currentColor;
}
#main-nav .dd-btn[aria-expanded=true] .icon {
  transform: rotate(90deg);
}
#main-nav .dd-btn > span {
  padding-left: 3px;
}
#main-nav a.nav-item:hover, #main-nav a.nav-item:focus {
  text-decoration: underline;
}
#main-nav .active > .nav-item, #main-nav .parent > .nav-item {
  font-weight: bold;
}
#main-nav li:not(:first-child), #main-nav li.expanded ul, #main-nav li.parent ul, #main-nav li.acive ul {
  border-top-width: 1px;
  border-top-style: solid;
}
#main-nav ul {
  margin-top: 0;
}
#main-nav ul ul {
  margin-left: 10px;
}
#main-nav ul ul {
  display: none;
}
#main-nav .expanded > ul, #main-nav .parent > ul, #main-nav .active > ul {
  display: block;
}
@media (min-width: 1024px) {
  #main-nav {
    margin-top: 20px;
    padding-right: 0;
  }
  #main-nav .toggle-wrapper {
    display: none;
  }
}

#back-to-top {
  position: fixed;
  display: flex;
  bottom: 10%;
  right: 15px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-width: 2px;
  text-decoration: none;
  opacity: 0;
  transition: opacity linear 0.5s;
  pointer-events: none;
  outline-offset: 4px;
}
@media (min-width: 1024px) {
  #back-to-top {
    right: 30px;
  }
}
@media (min-width: 1320px) {
  #back-to-top {
    right: calc(50vw - 600px);
    transform: translateX(50px);
  }
}
#back-to-top.active, #back-to-top:focus {
  opacity: 1;
  pointer-events: auto;
}

footer {
  padding: 10px 15px;
  border-top-width: 2px;
  border-top-style: solid;
  line-height: 1.7;
}
@media (min-width: 480px) {
  footer {
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  footer {
    padding: 20px 50px;
  }
}
@media (min-width: 1024px) {
  footer {
    padding: 30px 80px;
  }
}
@media (min-width: 1320px) {
  footer {
    padding: 40px calc(50vw - 600px);
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}
.skip-link {
  position: absolute;
  transition: top 0.5s ease;
  padding: 15px 10px;
  text-decoration: underline;
  border-radius: 10px;
  border: 2px solid;
}

.sr-only, mark::before, mark::after, s::before, s::after, ins::before, ins::after, del::before, del::after {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.hide, .hidden {
  display: none;
}

button, .btn {
  cursor: pointer;
}

.btn, a.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  outline-offset: 2px;
}

.icon-btn, a.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 27px;
  width: 27px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  outline-offset: 2px;
}

.hamburger-btn {
  height: 32px;
  width: 32px;
  border-radius: 5px;
  font-size: 20px;
}
.hamburger-btn .fa-minus {
  display: none;
}
.hamburger-btn[aria-expanded=true] .fa-bars {
  display: none;
}
.hamburger-btn[aria-expanded=true] .fa-minus {
  display: inline-block;
}

button[role=switch] {
  display: block;
  text-align: left;
  font-size: inherit;
  background-color: transparent;
  border: 2px solid transparent;
}
button[role=switch] span {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
button[role=switch] .label {
  padding-right: 10px;
}
button[role=switch] svg {
  forced-color-adjust: auto;
  position: relative;
  vertical-align: middle;
  height: 30;
  width: 52;
}
button[role=switch] svg .container {
  fill-opacity: 1;
  stroke-width: 2;
  stroke: currentColor;
  x: 1;
  y: 1;
  height: 28;
  width: 50;
  rx: 14;
}
button[role=switch] svg .toggle {
  stroke-width: 0;
  fill-opacity: 1;
  fill: currentColor;
  r: 11;
  cx: 16;
  cy: 15;
}
button[role=switch] .on {
  display: none;
}
button[role=switch][aria-checked=true] svg .container {
  fill-opacity: 0;
}
button[role=switch][aria-checked=true] svg .toggle {
  cx: 36;
}
button[role=switch][aria-checked=true] .off {
  display: none;
}
button[role=switch][aria-checked=true] .on {
  display: inline-block;
}

main a, footer a {
  text-decoration: underline;
  border-radius: 4px;
  padding-bottom: 1px;
}
main a:focus, main a:hover, footer a:focus, footer a:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;
  outline-offset: 1px;
}

.fa-external-link-icon {
  padding: 2px;
  margin-left: 2px;
  font-size: 10px;
}

a img {
  padding: 2px;
  border: 2px dashed transparent;
}

.img-link-external {
  color: inherit;
}

input, label {
  cursor: pointer;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  text-align: center;
}

h2 {
  margin-top: 40px;
  font-weight: bold;
  font-family: Tahoma, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

h3 {
  margin-top: 35px;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  border-left: 8px solid;
  border-bottom: 1px solid;
  padding-left: 8px;
}

h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h5 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
}

h6 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.list-unstyled {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

main ul, main ol, .list {
  display: flow-root;
}
main ul li, main ol li, .list li {
  margin-top: 5px;
}

main ol ol, .list ol ol {
  list-style-type: lower-alpha;
}
main ol ol ol, .list ol ol ol {
  list-style-type: lower-roman;
}
main ol ol ol ol, .list ol ol ol ol {
  list-style-type: decimal;
}

dt {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

blockquote {
  margin: 16px 10px;
  padding: 5px 5px 5px 20px;
  border-left: 12px solid;
  font-size: 16.5px;
}

figure.quote {
  margin: 20px 15px;
}
figure.quote blockquote {
  margin-bottom: 10px;
}
figure.quote figcaption {
  margin-left: 50px;
}

pre {
  padding: 10px;
  margin: 10px 0 20px 0;
}
pre code {
  display: block;
  padding: 15px;
  white-space: pre-wrap;
}

code, samp {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

var {
  font-weight: bold;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

del {
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
del::before {
  content: " [deletion start] ";
}
del::after {
  content: " [deletion end] ";
}
ins {
  font-size: 15px;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
ins::before {
  content: " [insertion start] ";
}
ins::after {
  content: " [insertion end] ";
}
s {
  font-size: 15px;
}
s::before {
  content: " [strikethrough start] ";
}
s::after {
  content: " [strikethrough end] ";
}
mark {
  font-size: 15px;
}
mark::before {
  content: " [highlight start] ";
}
mark::after {
  content: " [highlight end] ";
}
address {
  margin-bottom: 15px;
}
address span {
  margin-bottom: 5px;
  display: block;
}

kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

main table, main .table {
  width: 100%;
  margin: 10px 0 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
}
main table caption, main .table caption {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
main table > thead, main .table > thead {
  border: 1px solid;
  border-bottom: 2px solid;
}
main table > thead > tr > th, main .table > thead > tr > th {
  border-bottom: none;
}
main table th, main table td, main .table th, main .table td {
  padding: 8px;
}

hr {
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid;
}

img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  border: none;
}
img.full {
  width: 100%;
}
img.medium {
  max-width: 600px;
}
img.small {
  max-width: 400px;
}

figure.image {
  margin: 20px 40px;
}
figure.image p {
  margin: 0;
}
figure.image img {
  margin: 5px auto;
}
figure.image figcaption {
  text-align: center;
  font-style: italic;
  font-size: 105%;
}

.notices, .notices.yellow, .notices.green, .notices.red, .notices.blue {
  padding: 5px 5px 5px 20px;
  border: 2px solid;
  border-left: 10px solid;
}

/*# sourceMappingURL=theme.css.map */
