{# Can add custom content via page modules/footer #}
{% if page.find('/modules/footer') %}
    <div class="footer-section">
        {{ page.find('/modules/footer').content|raw }}
    </div>
{% endif %}