{# Can add custom content via page modules/footer #}
{% if page.find('/modules/footer') %}
    <div class="footer-section">
        {{ page.find('/modules/footer').content|raw }}
    </div>
{% endif %}
{% if page.find('/sitemap') %}
    <div class="footer-section sitemap">
        <a href="{{ page.find('/sitemap').url }}">Site Map</a>
    </div>
{% endif %}