{% import 'partials/nav_macro.html.twig' as nav_macro %}

<div class="sidenav">
    <nav id="main-nav" aria-label="Primary" class="main-nav">
        <div class="nav-btn-wrapper">
            <button class="hamburger-btn" id="toggle-nav-btn" aria-expanded="false" data-toggle="main-nav-list">
                <span class="sr-only">Menu</span>
                <i class="fas fa-bars" aria-hidden="true"></i>
                <i class="fas fa-minus" aria-hidden="true"></i>
            </button>
        </div>
        <ul id="main-nav-list" class="hide" role="list">
            {{ nav_macro.loop(pages) }}
        </ul>
    </nav>
</div>