// Variables

// TODO: For media queries?
$size-1: 320px; // small phone
$size-2: 480px; // large phone
$size-3: 768px; // tablet
$size-4: 1024px; // laptop
$size-5: 1200px; // desktop
$size-6: 1600px; // large monitor

// general utility
@media (min-width: $size-3) {
    .mobile-only {
        display: none !important;
    }
}
@media (max-width: ($size-3 - 1)) {
    .desktop-only {
        display: none !important;
    }
}

// basic layout
body {
    margin: 0;
}

// Let's talk basic layout, first
header {
    display: flex;
    .logo {
        flex-grow: .3;
    }
    .text {
        flex-grow: 1;
        text-align: center;
    }
    & > div {
        // negotiable, but a good start
        margin: 10px;
    }
    span, img {
        display: block;
        padding: 10px;
    }
}
/* todo: temp?
header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .logo {
        padding: 5px;
        max-width: 100%;
        min-width: 275px;
        img {
            margin: auto;
            max-height: 75px;
        }
        a {
            display: block;
        }
    }
    .text {
        padding: 5px;
        a {
            display: block;
            outline-offset: 3px;
        }
    }
    @media (min-width: $tablet) {
        @include font-size(32);
        .logo {
            max-width: 40%;
            img {
                max-height: 90px;
            }
        }
    }
    @media (min-width: $laptop) {
        @include font-size(36);
    }
}
*/
// TODO: Determine the appropriate sizes to make the nav and content layout change
@media (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-rows: repeat(2, min-content);
        grid-column-gap: 40px;
        padding: 50px;
    }
    nav {
        grid-row: 1;
        grid-column: 1;
    }
    main {
        grid-row: 1 / 3;
        grid-column: 2;
    }
}
.main-nav {
    display: flex;
    flex-direction: column;
    .nav-item {
        display: block;
        padding: 5px 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border: none;
        text-align: left;
    }
    &:disabled {
        .fas {
            display: none;
        }
    }
    li:not(:first-child), li.expanded ul {
        border-top: 1px solid;
    }
    ul ul {
        margin-left: 10px;
    }
    ul.dd-list {
        display: none;
    }
    .expanded > ul.dd-list, .parent > ul.dd-list {
        display: block;
    }
}
.dd-caret-btn {
    .fa-caret-up {
        display: none;
    }
}
.dd-caret-btn.expanded, .expanded > .dd-caret-btn {
    .fa-caret-down {
        display: none;
    }
    .fa-caret-up {
        display: inline-block;
    }
}

// todo: main {
//    margin: 25px 0;
//    padding: 0 10px;
//}

footer {
    padding: 10px 5px;
    border-top: 2px solid;
}

#main-skip-link {
    position: absolute;
    top: -70px;
    left: 20px;
    transition: top .5s ease;
    z-index: 10;
    &:focus, &:active {
        top: 15px;
    }
}

// todo: temp?
#back-to-top {
    position: fixed;
    display: flex;
    bottom: 10%;
    right: 15px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    box-sizing: border-box;
    border-width: 2px;
    opacity: 0;
    transition: opacity linear .5s;
    &.active, &:focus {
        opacity: 1;
        pointer-events: auto;
    }
    &:hover, &:focus {
        color: #000;
        border-color: #000;
    }
}