@use "sass:color";

// Variables

// Base colors used
$link-blue: #004fa3;
$link-purple: #551A8B;
$main-light: #fff;
$main-dark: #333;
$theme-color-1: #070f4e;
$accent-color-1: #fff;
$theme-color-2: #505050;
$accent-color-2: #fff;

$nav-item-border: color.adjust($theme-color-2, $lightness: 35%);

// Responsive design
$tablet: 600px;
$laptop: 900px;
$desktop: 1200px;

// Mixins
@mixin flex() {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@mixin box-shadow($val) {
    box-shadow: 0 0 2px 2px rgb($val, $val, $val);
    box-shadow: 0 0 2px 2px rgba($val, $val, $val, .5);
}
@mixin font-size($val) {
    font-size: 1px * $val;
    font-size: .1rem * $val;
}
@mixin heading-font() {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@mixin monofont() {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    border-radius: 4px;
}

/* General Utility Classes */
.hide, .hidden {
    display: none;
}
.sr-only {
    // Hides elements visually using WebAIM's clip method
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
}
.skip-link {
    position: absolute;
    top: -70px;
    left: 20px;
    padding: 15px 10px;
    text-decoration: underline;
    color: $link-blue;
    background-color: $main-light;
    transition: top .5s ease;
    @include box-shadow(76);
    z-index: 10;
    border: 2px solid $main-dark;
    border-radius: 10px;
    &:focus, &:active {
        top: 15px;
    }
    &:visited {
        color: $link-blue;
    }
}
.list-unstyled {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}
@media (min-width: $tablet) {
    .mobile-only {
        display: none !important;
    }
}
@media (max-width: $tablet - 1) {
    .desktop-only {
        display: none !important;
    }
}
// TODO: Opacity transition
// TODO: Some kind of blockquote class?

/* Button Classes */
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid $accent-color-1;
    border-radius: 10px;
    color: $accent-color-1;
    background-color: $theme-color-1;
    text-align: center;
    // white-space: nowrap;
    white-space: pre-wrap;
    line-height: 1.2;
    @include font-size(16);
    user-select: none;
    &:hover, &:focus {
        color: $theme-color-1;
        background-color: color.adjust($main-light, $lightness: -11%);
        border-color: $theme-color-1;
        @include box-shadow(76);
    }
    &:visited {
        color: $accent-color-1;
        &:hover, &:focus {
            color: $theme-color-1;
        }
    }
}
.btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
    pointer-events: none;
    cursor: default;
    background-color: #e2e2e2;
    color: #474747;
    border-color: #999;
    box-shadow: none;
}
// TODO: Separate .btn vs. .btn-primary?
.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 27px;
    width: 27px;
    border: 2px solid $main-dark;
    border-radius: 50%;
    background-color: $main-light;
    text-align: center;
    @include font-size(16);
    &:hover {
        // background-color: color.adjust($main-light, $lightness: -15%);
        @include box-shadow(120);
    }
    &:active {
        background-color: color.adjust($main-light, $lightness: -25%);
    }
}
.dd-caret-btn {
    .fa-caret-up {
        display: none;
    }
}
.dd-caret-btn.expanded, .expanded > .dd-caret-btn {
    .fa-caret-down {
        display: none;
    }
    .fa-caret-up {
        display: inline-block;
    }
}
.hamburger-btn {
    @extend .icon-btn;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    @include font-size(20);
    .fa-minus {
        display: none;
    }
}
.hamburger-btn.expanded, .expanded > .hamburger-btn {
    .fa-bars {
        display: none;
    }
    .fa-minus {
        display: inline-block;
    }
}

/* Fontawesome Classes */
.fa-external-link {
    padding: 2px;
    margin-left: 2px;
    color: $main-dark;
}

/* Basic Layout */
html {
    font-size: 62.5%; // base font now 10px for easier calculations
}
body {
    margin: 0;
    color: $main-dark;
    background-color: $main-light;
    @include font-size(14);
    line-height: 1.4;
    letter-spacing: normal;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
main {
    margin: 25px 0;
    padding: 0 10px;
}

/* Simple Header */
header {
    @include flex();
    color: $theme-color-1;
    background-color: color.adjust($main-light, $lightness: -11%);
    @include font-size(25);
    line-height: 2.1;
    a {
        text-decoration: none;
        color: inherit;
        &:visited, &:hover, &:focus {
            color: inherit;
        }
        &:hover:not(:focus) {
            outline: 1px solid;
        }
    }
    .logo {
        padding: 5px;
        max-width: 100%;
        min-width: 275px;
        img {
            margin: auto;
            max-height: 75px;
        }
        a {
            display: block;
        }
    }
    .text {
        padding: 5px;
        margin: auto;
        a {
            display: block;
            outline-offset: 3px;
        }
    }
    @media (min-width: $tablet) {
        @include font-size(32);
        .logo {
            padding: 10px 15px;
            max-width: 40%;
            img {
                max-height: 90px;
            }
        }
        .text {
            padding: 10px 15px;
        }
    }
    @media (min-width: $laptop) {
        @include font-size(36);
    }
}

/* Simple Footer */
footer {
    display: flow-root;
    padding: 10px 5px;
    border-top: 2px solid $main-dark;
    text-align: center;
    line-height: 1.7;
}

/* Navigation - mobile dropdown, can be changed as needed for desktop */
.main-nav {
    padding: 5px 10px;
    background-color: $theme-color-2;
    color: $accent-color-2;
    // menu button (nav toggle)
    .nav-btn-wrapper {
        display: flex;
        flex-direction: row-reverse;
        padding: 5px;
        #toggle-nav-btn {
            height: 32px;
            width: 32px;
            border-radius: 5px;
            @include font-size(20);
        }
    }
    // some basics
    ul {
        @extend .list-unstyled;
    }
    li {
        margin-bottom: 0;
        border-bottom: 1px solid;
        border-color: $nav-item-border;
        // bottom border
        &:last-child {
            border-bottom-style: none;
        }
    }
    // nav-item - consistency for links and buttons
 
    .nav-item {
        display: block;
        padding: 5px 10px;
        margin: 5px 0;
        border: none;
        color: inherit;
        background-color: transparent;
        @include font-size(18);
        text-align: left;
        line-height: 2.2;
        text-underline-offset: 1px;
        text-decoration: none;
        &:hover, &:focus {
            outline: revert;
            color: $accent-color-1;
            background-color: $theme-color-1;
        }
        &:visited {
            color: inherit;
            &:hover, &:focus {
                color: $accent-color-1;
            }
        }
        &:disabled {
            cursor: default;
            .fas {
                display: none;
            }
            &:focus, &:hover {
                color: inherit;
                background-color: transparent;
            }
        }
        &.last {
            border: none;
        }
    }
    // indicate which nav items are links
    a.nav-item:hover, a.nav-item:focus {
        text-decoration: underline;
    }
    // indicate the current page
    .active > .nav-item {
        color: $theme-color-1;
        background-color: $accent-color-1;
        &:hover, &:focus {
            color: $accent-color-1;
            background-color: $theme-color-1;
        }
    }
    // nested formatting
    ul ul {
        padding-left: 15px;
        .nav-item {
            @include font-size(16);
            padding-left: 5px;
        }
    }
    // dropdown formatting
    .dd-btn {
        width: 100%;
    }
    ul.dd-list {
        display: none;
    }
    .expanded > ul.dd-list {
        display: block;
    }
}

/* Back to top button */
#back-to-top {
    position: fixed;
    display: flex;
    bottom: 10%;
    right: 15px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    box-sizing: border-box;
    color: #333;
    border-color: #333;
    opacity: 0;
    transition: opacity linear .5s;
    pointer-events: none;
    @include font-size(21);
    &.active, &:focus {
        opacity: 1;
        pointer-events: auto;
    }
    &:hover, &:focus {
        color: #000;
        border-color: #000;
    }
}

/* Standard Content Styles */
// General
p {
    margin: 0;
    margin-bottom: 10px;
}
// headings
h1 {
    @include heading-font();
    @include font-size(32);
    text-align: center;
}
h2 {
    font-weight: bold;
    font-family: Tahoma, "Lucida Grande", "Lucida Sans", "Lucida Sans Regular", "Lucida Sans Unicode", Verdana, sans-serif;
    @include font-size(26);
    padding-bottom: 10px;
    border-bottom: 2px solid $main-dark;
}
h3 {
    margin-top: 25px;
    @include font-size(24);
    border-left: 8px solid;
    border-bottom: 1px solid;
    padding-left: 8px;
    border-color: $theme-color-1;
    @include heading-font();
    font-weight: normal;
}
h4 {
    margin-top: 20px;
    @include font-size(20);
    @include heading-font();
}
h5 {
    @include font-size(17);
    @include heading-font();
}
h6 {
    @include font-size(15);
    @include heading-font();
}
// Links
main a, footer a {
    text-decoration: underline;
    color: $link-blue;
    &:focus, &:hover {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #aaa;
        background-color: #f5f5f5;
        color: $theme-color-1;
        outline: revert;
        outline-offset: 1px;
        // images that are also links
        img {
            outline: dotted 2px #000;
        }
    }
    &:visited {
        color: $link-purple;
        &:focus, &:hover {
            color: color.adjust($link-purple, $lightness: -15%);
        }
    }
}
// Lists
ul, ol {
    display: flow-root;
    margin: 0;
    margin-bottom: 15px;
}
ol ol {
    list-style-type: lower-alpha;
    ol {
        list-style-type: lower-roman;
        ol {
            list-style-type: decimal;
        }
    }
}
li {
    margin: 0;
    margin-bottom: 5px;
}
dt {
    font-weight: bold;
}
// Styles
code, samp {
    @include monofont();
    color: $theme-color-1;
    background-color: #f3f3f3;
}
kbd {
    @include monofont();
    // from MDN Web docs - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
var {
    font-weight: bold;
    @include font-size(15);
    @include monofont();
}
del {
    background-color: #fbb;
    color: $main-dark;
    @include font-size(15);
    @include monofont();
    &::before, &::after {
        @extend .sr-only;
    }
    &::before {
        content: " [deletion start] ";
    }
    &::after {
        content: " [deletion end] ";
    }
}
ins {
    background-color: #d4fcbc;
    color: $main-dark;
    @include font-size(15);
    text-decoration: none;
    @include monofont();
    &::before, &::after {
        @extend .sr-only;
    }
    &::before {
        content: " [insertion start] ";
    }
    &::after {
        content: " [insertion end] ";
    }
}
s {
    @include font-size(15);
    &::before, &::after {
        @extend .sr-only;
    }
    &::before {
        content: " [strikethrough start] ";
    }
    &::after {
        content: " [strikethrough end] ";
    }
}
mark {
    &::before, &::after {
        @extend .sr-only;
    }
    &::before {
        content: " [highlight start] ";
    }
    &::after {
        content: " [highlight end] ";
    }
}
// Code Blocks
pre {
    display: flow-root;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
    background-color: #121212;
    border-radius: 5px;
    code {
        white-space: pre-wrap; // wrap text for readability
        color: #f8f8f8;
        background-color: #121212;
    }
}
// Images
img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    border: none;
}
// Tables
table {
    width: 100%;
    margin: 10px 0 20px 0;
    border-spacing: 0;
    border-collapse: collapse;
    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
    }
    &>thead {
        color: #000;
        background-color: #ccc;
        border: 1px solid #555;
        border-bottom: 2px solid #555;
        &>tr {
            &>th {
                border-bottom: none;
            }
        }
    }
    th, td {
        border: 1px solid #555;
        padding: 8px;
    }
    &>tbody {
        &>tr:hover, &>tr:focus {
            background-color: #ccc !important;
            color: #000;
        }
        &>tr:focus {
            box-shadow: 0 0 3px 1px #333;
            transform: translate(0, 0);
        }
        &>tr:nth-of-type(odd) {
            background-color: #eee;
        }
        &>tr>th {
            background-color: #ccc;
            color: #000;
        }
    }
    &>thead+tbody {
        &>tr:nth-of-type(odd) {
            background-color: inherit;
        }
        &>tr:nth-of-type(even) {
            background-color: #eee;
        }
    }
}
// Blockquotes
blockquote {
    margin: 1em 10px;
    padding: 1em;
    padding-bottom: .4em;
    border-left: .8em solid;
    @include font-size(16.5);
    background-color: #eee;
}
figure blockquote {
    margin-right: -30px;
    margin-left: -30px;
}
// Misc
hr {
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid;
    border-color: color.adjust($main-dark, $lightness: 13%);
}
caption {
    color: color.adjust($main-dark, $lightness: 7%);
}
address {
    margin-bottom: 15px;
    span {
        margin-bottom: 5px;
        display: block;
    }
}
// Forms
button, input {
    cursor: pointer;
}
// TODO: More forms