@use "sass:color";

@import 'light_theme';

$blue-1: #070f4e;
$blue-2: #0F1E92;
$light-gray: #e7e7e7;
$gray: #555;
$yellow: #ffe100;
$light-yellow: #fff3a8;

header {
    color: $blue-2;
    background-color: $light-gray;
    // .text a {
    //     color: inherit;
    //     &:hover, &:focus {
    //         color: $blue-1;
    //         outline: 2px solid;
    //     }
    //     &:visited {
    //         color: inherit;
    //         &:hover, &:focus {
    //             color: $blue-1;
    //         }
    //     }
    // }
}
#main-nav {
    background-color: $gray;
    color: #fff;
    ul, li {
        border-color: rgba(255, 255, 255, .5);
    }
    .nav-item {
        &:hover, &:focus {
            color: $blue-1;
            background-color: #fff;
        }
    }
    .active > .nav-item {
        color: $blue-2;
        background-color: #fff;
    }
}
.btn, a.btn {
    background-color: $blue-2;
    color: #fff;
    // border: 2px solid;
    &:hover, &:focus {
        color: $blue-1;
        background-color: $yellow;
    }
    &:focus {
        outline: 2px solid $blue-1;
    }
    &:visited {
        color: #fff;
        &:hover, &:focus {
            color: $blue-1;
        }
    }
}
.outline-btn, a.outline-btn {
    color: $blue-1;
    background-color: #fff;
    &:hover, &:focus {
        background-color: #ddd;
    }
    &:focus {
        outline: 2px solid $blue-1;
    }
    &:visited {
        color: $blue-1;
        &:hover, &:focus {
            color: $blue-1;
        }
    }
}
h3 {
    border-color: $blue-1;
    border-left-color: $blue-2;
}
main a, footer a {
    &:hover, &:focus {
        background-color: $light-yellow;
        color: #000;
        border-color: #999;
    }
    &:focus {
        outline: 2px solid $blue-1;
    }
    &:visited {
        &:focus, &:hover {
            color: #000;
        }
    }
}
a:focus img, a:hover img {
    border-color: $blue-1;
}
code, samp {
    color: $blue-2;
    background-color: $light-gray;
}