$text: #e7e7e7;
$gray: #ccc;
$background: #121212;
$pink: #ffafc7;
$blue: #73d7ee;

body {
    color: $text;
    background-color: $background;
}
header {
    color: $blue;
    background-color: #2a2a2a;
    box-shadow: 0 0 4px 2px #000;
    .text a, .text a:visited {
        color: inherit;
        &:hover, &:focus {
            color: inherit;
            outline: 2px solid;
        }
    }
}
#main-nav {
    color: #fff;
    background-color: #393939;
    box-shadow: 0 0 4px 2px #000;
    ul, li {
        border-color: rgba(255, 175, 199, .5); // 50% pink
    }
    .nav-item {
        &:hover, &:focus {
            color: #000;
            background-color: $pink;
        }
    }
    .active > .nav-item {
        color: #333;
        background-color: $pink;
    }
}
.btn, .btn:visited, a.btn {
    color: $background;
    background-color: $blue;
    border-color: #000;
    &:hover, &:focus {
        color: $background;
        background-color: $pink;
        border-color: $background;
    }
    &:focus {
        outline: 2px solid $pink;
    }
}
.outline-btn, .outline-btn:visited {
    color: $pink;
    background-color: #2a2a2a;
    &:hover, &:focus {
        color: $background;
        background-color: $pink;
    }
}
h3 {
    border-color: #9f9f9f;
    border-left-color: rgba(115, 215, 238, .8); // 80% blue
}
main a, footer a {
    color: $blue;
    &:hover, &:focus {
        color: $pink;
        background-color: #333;
        border-color: #777;
    }
    &:focus {
        outline: 2px solid $pink;
    }
    &:visited {
        color: $blue;
        &:focus, &:hover {
            color: $pink;
        }
    }
}
a:focus img, a:hover img {
    border-color: $pink;
}
code, samp {
    color: $blue;
    background-color: #383838;
    box-shadow: 0 0 2px 2px #000;
}
h2 {
    border-color: #9f9f9f;
}
hr {
    border-color: #9f9f9f;
    box-shadow: 0 0 2px 2px #000;
}
.btn:disabled, btn-disabled, .btn.disabled, button:disabled, button.disabled {
    color: #c9c9c9;
    background-color: #333;
    border-color: #777;
    pointer-events: none;
    cursor: default;
}
.icon-btn, a.icon-btn {
    color: $pink;
    background-color: #333;
    &:hover, &:focus {
        background-color: $background;
        border-color: $pink;
    }
    &:visited {
        color: $pink;
    }
    &:focus {
        outline: 2px solid $pink;
    }
    &.dual-bg:focus {
        box-shadow: 0 0 7px 4px #000;
    }
}
// button[role="switch"] {
//     color: white;
//     background-color: transparent;
//     border-color: white;
//     svg .container {
//         fill: white;
//         stroke: currentColor;
//     }
//     &[aria-checked="true"] {
//         svg .toggle {
//             fill:  white;
//         }
//     }
//     &:hover, &:focus {
//         border-color: white;
//         background-color: white;
//         outline: none;
//     }
// }
.skip-link {
    color: $text;
    background-color: #454545;
    border: none;
    box-shadow: 0 0 4px 2px #000;
    &:visited {
        color: $text;
    }
    &:focus {
        outline: 2px solid $pink;
    }
}
blockquote {
    background-color: #2a2a2a;
    box-shadow: 0 0 4px 2px #000;
    border-color: $pink;
}
.notices {
    &.green, &.yellow, &.red, &.blue {
        background-color: #2a2a2a;
        box-shadow: 0 0 4px 2px #000;
        border: none;
        border-left: 10px solid;
    }
    &.yellow {
        border-color: #81741D;
        color: #E5D98A;
    }
    &.red {
        border-color: #841F1F;
        color: #EAA4A4;
    }
    &.blue {
        border-color: #107B93;
        color: $blue;
    }
    &.green {
        border-color: #186318;
        color: #80E080;
    }
}
main table, main .table {
    box-shadow: 0 0 4px 2px #000;
    & > thead {
        color: #fff;
        background-color: #454545;
        border: none;
        border-bottom: 2px solid #9f9f9f;
        & th {
            border-top: none;
        }
    }
    th, td {
        border: 1px solid #9f9f9f;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    & > tbody > tr {
        & > th {
            color: #fff;
            background-color: #454545;
        }
        &:nth-of-type(odd) {
            background-color: #222;
            &:hover, &:focus {
                color: #fff;
                background-color: #333;
            }
        }
        &:last-child th, &:last-child, td {
            border-bottom: none;
        }
        &:hover, &:focus {
            color: #fff;
            background-color: #333;
        }
    }
    & > thead + tbody > tr {
        &:nth-of-type(odd) {
            background-color: inherit;
        }
        &:nth-of-type(even) {
            background-color: #222;
        }
        &:nth-of-type(odd), &:nth-of-type(even) {
            &:hover, &:focus {
                color: #fff;
                background-color: #333;
            }
        }
    }
}
caption {
    color: #ccc;
}
del {
    background-color: #fbb;
    color: #333;
}
ins {
    background-color: #d4fcbc;
    color: #333;
}
pre {
    code {
        color: $text;
        background-color: #2a2a2a;
    }
}
kbd {
    color: #333;
    background-color: #eee;
    border-color: #b4b4b4;
    box-shadow: 0 1px 1px 2px #000, 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
}