// Uncertain if these will remain here or belong to some plugin or something...

@use "sass:color";

$main-light: #fff;
$main-dark: #333;

// Tablist
button[role="tab"] {
    position: relative;
    padding: 10px 15px;
    margin-top: 5px;
    //margin-right: 5px;
    line-height: 1.4;
    border: solid 1px color.adjust($main-light, $lightness: -33%);
    border-radius: 3px 3px 0 0;
    outline-offset: 1px;
    box-shadow: 0 0 2px color.adjust($main-light, $lightness: -33%);
    background-color: color.adjust($main-light, $lightness: -7%);
    transform: translateY(1px);
    @include font-size(14.5);
    &:focus, &:hover {
        color: color.adjust($main-dark, $lightness: -13%);
        background-color: color.adjust($main-light, $lightness: -12%);
        border-color: color.adjust($main-dark, $lightness: -13%);
        border-bottom-color: color.adjust($main-light, $lightness: -33%);
    }
    &.active, &:focus, &:hover {
        border-radius: 0;
        &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            right: -1px;
            left: -1px;
            border-radius: 5px 5px 0 0;
            border-top: 3px solid $main-dark;
        }
    }
    &.active {
        background-color: color.adjust($main-light, $lightness: -2%);
        &:hover, &:focus {
            background-color: color.adjust($main-light, $lightness: -2%);
            border-color: color.adjust($main-light, $lightness: -33%);
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 3;
            bottom: -3px;
            right: 0;
            left: 0;
            height: 3px;
            background-color: color.adjust($main-light, $lightness: -2%);
            box-shadow: none;
        }
        &:not(:focus):not(:hover)::before {
            border-top: 5px solid $theme-color-1;
        }
    }
}
div[role="tabpanel"] {
    display: none;
    padding: 10px;
    border: 1px solid color.adjust($main-light, $lightness: -33%);
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 2px color.adjust($main-light, $lightness: -33%);
    background-color: color.adjust($main-light, $lightness: -2%);
    &.active {
        display: block;
    }
}

// Breadcrumbs
// TODO: Needs editing
.breadcrumbs {
    padding: 10px;
    ol {
        @extend .list-unstyled;
    }
    li {
        display: inline;
    }
    li+li:before {
        content: "/ " / "";
    }
    li:last-child {
        font-weight: bold;
    }
}

/* Markdown Notices */
.notices {
    display: flow-root;
    margin: 10px 0;
    padding: 5px 5px 0 10px;
    border: 2px solid #333;
    border-left: 10px solid $main-dark;
    color: $main-dark !important;
    background-color: $main-light !important;
    &.yellow {
        border-color: #daa520;
    }
    &.green {
        border-color: #228b22;
    }
    &.red {
        border-color: #b22222;
    }
    &.blue {
        border-color: #0000cd;
    }
}

/* Highlight Plugin (syntax highlighting) */
/*
Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

modified by Theo for better color contrast ratios
*/
  
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #121212;
    color: #f8f8f8;
}
/* added pre so that padding would match background */
pre {
    background-color: #121212;
}
.hljs-built_in, .hljs-code {
    color: #73bd51;
}
.hljs-comment, .hljs-quote {
    color: #aeaeae;
    font-style: italic;
}
.hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #e28964;
}
.hljs-string {
    color: #73bd51;
}
.hljs-subst {
  color: #daefa3;
}
.hljs-regexp, .hljs-link {
  color: #e9c062;
}
.hljs-title, .hljs-section, .hljs-tag, .hljs-name {
  color: #89bdff;
}
.hljs-class .hljs-title, .hljs-doctag {
  text-decoration: underline;
}
.hljs-symbol, .hljs-bullet, .hljs-number {
  color: #bd99ff;
}
.hljs-params, .hljs-variable, .hljs-template-variable {
  color: #bd99ff;
}
.hljs-attribute {
  color: #cda869;
}
.hljs-meta {
  color: #95a1b1;
}
.hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}
.hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}
.hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}
.hljs-selector-class {
  color: #caa67d;
}
.hljs-selector-id {
  color: #a3adbd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}