@import 'light_theme';

$light-gray: #e7e7e7;
$gray: #ccc;
$dark-gray: #333;
$light-green: #baf484;
$green: #386312;
$light-purple: #b57fdd;
$purple: #810081;

header {
    color: #fff;
    background-color: $green;
}
#main-nav {
    color: $dark-gray;
    background-color: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
    ul, li {
        border-color: rgba(0, 0, 0, .5);
    }
    .nav-item {
        &:hover, &:focus {
            color: #fff;
            background-color: $purple;
        }
    }
    .active > .nav-item {
        color: $light-gray;
        background-color: $purple;
    }
}
.btn, .btn:visited, a.btn, a.btn:visited {
    color: #fff;
    background-color: $green;
    &:hover, &:focus {
        color: $dark-gray;
        background-color: $light-green;
    }
    &:focus {
        outline: 2px solid $green;
    }
}
.outline-btn, .outline-btn:visited, a.outline-btn {
    color: $purple;
    background-color: #fff;
    &:hover, &:focus {
        color: #fff;
        background-color: $purple;
    }
}
h3 {
    border-color: $green;
}
main a, footer a {
    &:hover, &:focus {
        color: $purple;
        background-color: $light-gray;
        border-color: $dark-gray;
    }
    &:focus {
        outline: 2px solid $purple;
    }
    &:visited {
        &:focus, &:hover {
            color: $purple;
        }
    }
}
a:focus img, a:hover img {
    border-color: $purple;
}
code, samp {
    color: #000;
    background-color: $light-green;
}
.notices.green {
    border-color: $green;
}