@use "sass:color";

$main-bg: #fff;
$main-text: #333;
$link-standard: #004A99;
$link-visited: #551A8B;

body {
    color: $main-text;
    background-color: $main-bg;
}
header {
    .text a, .text a:visited {
        color: inherit;
        &:hover, &:focus {
            color: inherit;
            outline: 2px solid;
        }
    }
}
h2 {
  border-color: $main-text;
}
hr {
    border-color: #555;
}
.btn:disabled, btn-disabled, .btn.disabled, button:disabled, button.disabled {
    background-color: #e2e2e2;
    color: #474747;
    border-color: #999;
    pointer-events: none;
    cursor: default;
}
.icon-btn, a.icon-btn {
    color: $main-text;
    background-color: $main-bg;
    &:hover, &:focus {
        color: $main-text;
        background-color: #e2e2e2;
        border-color: $main-text;
    }
    &:visited {
        color: $main-text;
    }
    &:focus {
        outline: 2px solid $main-text;
    }
    &.dual-bg:focus {
        box-shadow: 0 0 7px 4px #fff;
    }
}
button[role="switch"] {
    background-color: transparent;
    border-color: transparent;
    color: $main-text;
    svg .container {
        fill: #e7e7e7;
        stroke: currentColor;
    }
    &[aria-checked="true"] {
        svg .toggle {
            fill:  #006607;
        }
    }
    &:hover, &:focus {
        border-color: $main-text;
        background-color: #e7e7e7;
        outline: none;
    }
}
main a, footer a {
    color: $link-standard;
    &:visited {
        color: $link-visited;
    }
}
// .fa-external-link-icon {
//     color: #555; // TODO?
// }
// a img:hover, a img:focus {
//     border-color: $main-text;
// }
.skip-link {
    color: $link-standard;
    background-color: $main-bg;
    border-color: $main-text;
    box-shadow: 0 0 2px 2px rgba(76, 76, 76, 0.7);
    &:visited {
        color: $link-standard;
    }
}
blockquote {
    background-color: #e7e7e7;
}
.notices {
    color: $main-text;
    &.green, &.yellow, &.red, &.blue {
        color: $main-text;
    }
    &.green {
        border-color: #228b22;
        background-color: #e6f9e6;
    }
    &.yellow {
        border-color: #b68a1b;
        background-color: #f9efd7;
    }
    &.red {
        border-color: #b22222;
        background-color: #f8dbdb;
    }
    &.blue {
        border-color: #0000cd;
        background-color: #e7e7ff;
    }
}
main table, main .table {
    & > thead {
        color: #000;
        background-color: #ccc;
        border-color: #333;
    }
    th, td {
        border: 1px solid #333;
    }
    & > tbody > tr {
        & > th {
            background-color: #ccc;
            color: #000;
        }
        &:nth-of-type(odd) {
            background-color: #eee;
            &:hover, &:focus {
                background-color: #d2d2d2;
                color: #000;
            }
        }
        &:hover, &:focus {
            background-color: #d2d2d2;
            color: #000;
        }
    }
    & > thead + tbody > tr {
        &:nth-of-type(odd) {
            background-color: inherit;
        }
        &:nth-of-type(even) {
            background-color: #eee;
        }
        &:nth-of-type(odd), &:nth-of-type(even) {
            &:hover, &:focus {
                background-color: #d2d2d2;
                color: #000;
            }
        }
    }
}
caption {
    color: #474747;
}
del {
    background-color: #fbb;
    color: $main-text;
}
ins {
    background-color: #d4fcbc;
    color: $main-text;
}
pre {
    code {
        color: #f8f8f8;
        background-color: #121212;
    }
}
kbd {
    color: $main-text;
    background-color: #eee;
    border-color: #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
}