/* Sidenav (left) - Desktop Settings */
@media (min-width: $tablet) {
    $sidenav-width: 240px;
    $sidenav-margin: 10px;
    .sidenav {
        float: left;
        margin: 70px $sidenav-margin;
        width: $sidenav-width;
        transition: margin .5s ease;
        nav {
            .nav-item {
                padding-left: 5px;
            }
            & > ul.hide {
                display: none;
            }
        }
    }
    .sidenav-hidden {
        #toggle-nav-btn {
            top: -32px;
        }
        .sidenav {
            margin: 10px $sidenav-margin;
        }
    }
    .sidenav-hidden, .full {
        main {
            transform: translateX(-$sidenav-width / 2 - $sidenav-margin);
        }
    }
    main {
        position: relative;
        //z-index: -1; What?
        display: flow-root;
        margin: 70px 0;
        padding: 0 20px;
        transition: transform .5s ease;
    }
}
@media (min-width: 960px) {
    .nav-btn-wrapper {
        display: none !important;
    }
    .sidenav {
        width: 25vw;
        nav > ul {
            display: block !important;
        }
        //nav {
            //padding-top: 10px;
        //}
    }
    .sidenav-hidden {
        .sidenav {
            margin: 70px 10px;
        }
        main {
            transform: none;
        }
    }
    .full main {
        transform: translateX(calc(-12.5vw - 10px));
    }
    main {
        padding-left: 30px;
        padding-right: 50px;
        margin: 70px auto;
        max-width: 900px;
    }
}
@media (min-width: 1400px) {
    .sidenav {
        width: 350px;
    }
    .full main {
        transform: translateX(-185px);
    }
    main {
        padding-right: 70px;
    }
}