@use "sass:color";

$link-standard: #004fa3;
$link-visited: #551A8B;
$main-light: #fff;
$main-dark: #333;
$theme-color-1: #070f4e;
$accent-color-1: #fff;
$theme-color-2: #505050;
$accent-color-2: #fff;

$notices-yellow: #B68A1B;
$notices-green: #228b22;
$notices-blue: #0000cd;
$notices-red: #b22222;

$font-family-standard: Verdana, Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-heading: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// TODO: For media queries?
$small: 320px; // small phone
$phone: 480px; // large phone
$tablet: 768px; // tablet
$laptop: 1024px; // laptop
$desktop: 1200px; // desktop
$large: 1600px; // large monitor

/*
Things this file is for:
- colors of all sorts - color, background color, border color
- font size
- font family
- other font characteristics, like line height or leter spacing
- other purely stylistic decisions that won't otherwise affect the display of the site

Things this file is not for:
- display settings
- margins and padding (with a few exceptions, generally for rare cases or typography)
- size (height, width)
- positioning
- etc

*/

// Basics
body {
  color: $main-dark;
  background-color: $main-light;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: $font-family-standard;
}
header {
  color: $theme-color-1;
  background-color: color.adjust($main-light, $lightness: -11%);
  font-size: 20px;
  a {
    text-decoration: none;
    color: inherit;
    &:visited, &:hover, &:focus {
      color: inherit;
    }
    &:hover:not(:focus) {
      outline: 1px solid;
    }
  }
  @media(min-width: $phone) {
    font-size: 22px;
  }
  @media(min-width: $tablet) {
    font-size: 25px;
  }
}

.main-nav {
  background-color: $theme-color-2;
  color: $accent-color-2;
  ul, li {
    border-color: color.adjust($accent-color-2, $alpha: -.5%);
  }
  .nav-item {
    color: inherit;
    background-color: transparent;
    font-size: 14px;
    text-align: left;
    line-height: 2.2;
    text-underline-offset: 1px;
    text-decoration: none;
    &:hover, &:focus {
      outline: revert;
      color: $accent-color-1;
      background-color: $theme-color-1;
    }
    &:disabled:hover, &.disabled:hover, &:disabled:focus, &.disabled:focus {
      color: inherit;
      background-color: transparent;
    }
  }
  a.nav-item:hover, a.nav-item:focus {
    text-decoration: underline;
  }
  .active > .nav-item {
    color: $theme-color-1;
    background-color: $accent-color-1;
    &:hover, &:focus {
      color: $accent-color-1;
      background-color: $theme-color-1;
    }
  }
}
#back-to-top {
  text-decoration: none;
  opacity: 0;
  transition: opacity linear .5s;
  color: #333;
  &.active, &:focus {
      opacity: 1;
      pointer-events: auto;
  }
  &:hover, &:focus {
      color: #000;
      border-color: #000;
  }
}
footer {
  border-color: $main-dark;
  line-height: 1.7;
}

/* Typography */

// Headings
h1 {
  font-weight: bold;
  font-family: $font-family-heading;
  font-size: 32px;
  text-align: center;
}
h2 {
  margin-top: 40px;
  font-weight: bold;
  font-family: Tahoma, $font-family-heading;
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid $main-dark;
}
h3 {
  margin-top: 35px;
  font-weight: normal;
  font-family: $font-family-heading;
  font-size: 24px;
  border-left: 8px solid;
  border-bottom: 1px solid;
  padding-left: 8px;
  border-color: $theme-color-1;
}
h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: $font-family-heading;
  font-size: 20px;
}
h5 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: $font-family-heading;
  font-size: 17px;
}
h6 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: $font-family-heading;
  font-size: 15px;
}
// Paragraphs and Lines
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid;
  border-color: color.adjust($main-dark, $lightness: 13%);
}
// Links
main a, footer a {
  text-decoration: underline;
  color: $link-standard;
  &:focus, &:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #aaa; // TODO
    background-color: #f5f5f5; // TODO
    color: $theme-color-1;
    outline: revert;
    outline-offset: 1px;
    img {
      outline: dotted 2px #000;
    }
  }
  &:visited {
    color: $link-visited;
    &:focus, &:hover {
      color: color.adjust($link-visited, $lightness: -15%);
    }
  }
}
.fa-external-link-alt {
  padding: 2px;
  margin-left: 2px;
  font-size: 10px;
  color: #555; // TODO
}
.skip-link {
  padding: 15px 10px;
  text-decoration: underline;
  color: $link-standard;
  background-color: $main-light;
  box-shadow: 0 0 2px 2px rgba(76, 76, 76, 0.7); // TODO
  border: 2px solid $main-dark;
  border-radius: 10px;
  &:visited {
    color: $link-standard;
  }
}

// Images
img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  border: none;
  &.full {
    width: 100%;
  }
  &.medium {
    max-width: 600px;
  }
  &.small {
    max-width: 400px;
  }
}
figure.image {
  margin: 20px 40px;
  p {
    margin: 0;
  }
  img {
    margin: 5px auto;
  }
  figcaption {
    text-align: center; // TODO: ask
    font-style: italic;
    font-size: 105%;
  }
}
// make sure there is space for the font awesome icon and that the default link style isn't applied to it on focus/hover
.img-link-external {
  &:focus, &:hover {
    border: none;
    background-color: transparent;
  }
  img {
    display: inline-block;
    max-width: calc(100% - 25px);
  }
  .fa-external-link-alt {
    transform: translateY(-12px);
  }
}

// Buttons
button, input {
  cursor: pointer;
  font-family: $font-family-standard;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid $accent-color-1;
  border-radius: 10px;
  color: $accent-color-1;
  background-color: $theme-color-1;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 14px;
  user-select: none;
  &:hover, &:focus {
    color: $theme-color-1;
    background-color: #e2e2e2; // TODO
    border-color: $theme-color-1;
    box-shadow: 0 0 2px 2px rgba(76, 76, 76, 0.7); // TODO
  }
  &:visited {
    color: $accent-color-1;
    &:hover, &:focus {
      color: $theme-color-1;
    }
  }
}
.outline-btn {
  color: $theme-color-1;
  background-color: $accent-color-1;
  border-color: $theme-color-1;
  &:hover, &:focus {
    color: $accent-color-1;
    background-color: $theme-color-1;
    //border-color: $accent-color-1;
  }
  &:visited {
    color: $theme-color-1;
    &:hover, &:focus {
      color: $accent-color-1;
    }
  }
}
.btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
  pointer-events: none;
  cursor: default;
  background-color: #e2e2e2; // TODO
  color: #474747; // TODO
  border-color: #999; // TODO
  box-shadow: none;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 27px;
  width: 27px;
  border: 2px solid $main-dark;
  border-radius: 50%;
  background-color: $main-light;
  text-align: center;
  font-size: 16px;
  &:hover {
    box-shadow: 0 0 2px 2px rgba(120, 120, 120, 0.7); // TODO
  }
  &:active {
    background-color: #bfbfbf; // TODO
  }
}
.hamburger-btn {
  height: 32px;
  width: 32px;
  border-radius: 5px;
  font-size: 20px;
  .fa-minus {
    display: none;
  }
}
.hamburger-btn.expanded, .expanded > .hamburger-btn {
  .fa-bars {
    display: none;
  }
  .fa-minus {
    display: inline-block;
  }
}

// Lists
main ul, main ol {
  display: flow-root;
}
main ol ol {
  list-style-type: lower-alpha;
  ol {
    list-style-type: lower-roman;
    ol {
      list-style-type: decimal;
    }
  }
}
main li {
  margin-top: 5px;
}
dt {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}
.list-unstyled {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

// Blockquotes and Notices
blockquote {
  margin: 16px 10px;
  padding: 5px 5px 5px 20px;
  border-left: 12px solid;
  font-size: 16.5px;
  background-color: #eee; // TODO
}
figure.quote {
  margin: 20px 15px;
  blockquote {
    margin-bottom: 10px;
  }
  figcaption {
    margin-left: 50px;
  }
}
.notices, .notices.yellow, .notices.green, .notices.red, .notices.blue {
  padding: 5px 5px 5px 20px;
  color: $main-dark;
  border: 2px solid;
  border-left: 10px solid;
}
.notices.green {
  border-color: $notices-green;
  background-color: color.adjust($notices-green, $lightness: 60%);
}
.notices.yellow {
  border-color: $notices-yellow;
  background-color: color.adjust($notices-yellow, $lightness: 50%);
}
.notices.red {
  border-color: $notices-red;
  background-color: color.adjust($notices-red, $lightness: 50%);
}
.notices.blue {
  border-color: $notices-blue;
  background-color: color.adjust($notices-blue, $lightness: 55%);
}

// TODO: Is scrolling-x auto and display block okay?
// Tables
main table, main .table {
  width: 100%;
  margin: 10px 0 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
  caption {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
  }
  & > thead {
    color: #000; // TODO
    background-color: #ccc; // TODO
    border-color: #555; // TODO
    border: 1px solid;
    border-bottom: 2px solid;
    & > tr > th {
      border-bottom: none;
    }
  }
  th, td {
    border: 1px solid #555; // TODO
    padding: 8px;
  }
  & > tbody > tr {
    &:hover, &:focus {
      background-color: #ccc !important; // TODO
      color: #000; // TODO
    }
    &:focus {
      box-shadow: 0 0 3px 1px $main-dark; // TODO
      transform: translate(0, 0);
    }
    &:nth-of-type(odd) {
      background-color: #eee; // TODO
    }
    & > th {
      background-color: #ccc; // TODO
      color: #000; // TODO
    }
  }
  & > thead + tbody > tr {
    &:nth-of-type(odd) {
      background-color: inherit;
    }
    &:nth-of-type(even) {
      background-color: #eee; // TODO
    }
  }
}
caption {
    color: color.adjust($main-dark, $lightness: 7%);
}

// Semantic Elements
code, samp {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: $font-family-monospace;
  color: $theme-color-1;
  background-color: #e7e7e7; // TODO
}
kbd {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: $font-family-monospace;
  background-color: #eee; // TODO
  border-radius: 3px;
  border: 1px solid #b4b4b4; // TODO
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset; // TODO
  color: $main-dark;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
var {
  font-weight: bold;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: $font-family-monospace;
}
del {
  background-color: #fbb; // TODO
  color: $main-dark;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: $font-family-monospace;
  &::before {
    content: " [deletion start] ";
  }
  &::after {
    content: " [deletion end] ";
  }
  &::before, &::after {
      @extend .sr-only;
  }
}
ins {
  background-color: #d4fcbc; // TODO
  color: $main-dark;
  font-size: 15px;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: $font-family-monospace;
  &::before, &::after {
      @extend .sr-only;
  }
  &::before {
    content: " [insertion start] ";
  }
  &::after {
    content: " [insertion end] ";
  }
}
s {
  font-size: 15px;
  &::before, &::after {
      @extend .sr-only;
  }
  &::before {
    content: " [strikethrough start] ";
  }
  &::after {
    content: " [strikethrough end] ";
  }
}
mark {
  &::before, &::after {
      @extend .sr-only;
  }
  &::before {
    content: " [highlight start] ";
  }
  &::after {
    content: " [highlight end] ";
  }
}

// Code Blocks

pre {
  //display: flow-root;
  padding: 10px;
  margin: 10px 0 20px 0;
  //border: none;
  //background-color: #121212; // TODO
  //border-radius: 5px;
  code {
    padding: 15px;
    white-space: pre-wrap;
    color: #f8f8f8; // TODO
    background-color: #121212; // TODO
  }
}
address {
  margin-bottom: 15px;
  span {
    margin-bottom: 5px;
    display: block;
  }
}

// Utility Classes

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
.hide, .hidden {
  display: none;
}