{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        {{  page.content|raw }}
        {% include 'partials/sitemap_list.html.twig' %}
    </div>
{% endblock %}